@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');
:root {
    --primary-color: #0066ff;
}
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box ;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}
header {
    display: flex ;
    justify-content: space-around;
    padding: 0 70px;
    height: 60px;
    position: fixed;
    top: 0;
    left:0%;
    z-index:1;
    width: 100%;
    background-color:  white;
    border-bottom: 1px solid black;
    align-items: center;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo {
    flex:1;
}

.logo a {
    color: black;
}

.logo a span {
    color: var(--primary-color);
}

.menu {
    flex: 1.5;
    display: flex;
}
.menu>li {
    padding: 0 12px;
    position: relative;
}
.menu>li:hover .Sub-menu{
    visibility: visible;
    top: 30px;

}
.other {
    flex:1;
    display: flex;
}
.Sub-menu {
    position: absolute ;
    background-color: white;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
}
.menu li a{
    font-weight: 600;
    display: block;
    line-height: 20px;
    color: black;
}

.menu li a:hover{
    font-weight: 600;
    display: block;
    line-height: 20px;
    color: var(--primary-color);
}

.Sub-menu ul a{
    padding-left: 20px !important;
    font-size: 12px;
    font-weight: 100;

}
.Sub-menu li a{
    font-weight: 600;
    padding: 4px;
}
.aspect-radio-169{
    display: block;
    position: relative;
    padding-top: 56.25%;
}
.aspect-radio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
    
}
#banner{
    position: relative;
}
.dot-container{
    position: absolute;
    bottom: 50px; 
    width: 100%;
    text-align: center;
}
.dot{
    height: 16px;
    width: 16px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 8px; 
    display: inline-block;
    cursor: pointer; 
}
.dot.active{
    background:#333
}
#banner{
    padding-bottom: 30px;
    overflow: hidden;
}

.user-controls {
    display: flex;
    align-items: center;
}

.login-button a{
    display: inline-block;
    padding: 7px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

.login-button a:hover {
    color: var(--primary-color);
}

.register-button a{
    display: inline-block;
    padding: 7px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

.register-button a:hover{
    background-color: black;
    color: white;
    
}



#wp_product {
    padding-top: 20px;
    padding-bottom: 78px;
    padding-left: 250px;
    padding-right: 250px;
}

#wp_product h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 32px;
    color:black;
}

#list_product {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.product img {
    display: block;
    margin: 0% auto;
    margin-top: 17px;
    padding: 10px;
    height: 200px;
    width: 200px;
}

.name_product {
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 21px;
}

#wp_product-arrival {
    padding: 20px 134px 78px 134px;
    text-align: center;
}

#wp_product-arrival h2 {
    font-size: 32px;
    color: black;
    margin-bottom: 20px;
}

#list_product-arrival {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.new-product {
    margin: 0 15px 30px;
    padding: 10px;
    text-align: left; 
    max-width: 300px;
}

.new-product img {
    width: 250px;
    height: 250px;
}

.gallery img {
    width: 50px;
    height: 50px;
    margin: 0px;
}

.size-product {
    margin-top: 0px;
    padding-right: 5px;
}

.size-product span {
    margin: 0;
    padding-right: 5px
}

.name_product-arrival{
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.price{
    font-weight: bold;
    color: #ff5733;
    font-size: 18px;
}
#wp_product-hot {
    padding: 20px 134px 78px 134px;
    text-align: center;
}

#wp_product-hot h2 {
    font-size: 32px;
    color: black;
    margin-bottom: 20px;
}

#list_product-hot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.hot-product {
    margin: 0 15px 30px;
    padding: 10px;
    text-align: left; 
    max-width: 300px;
}

.hot-product img {
    width: 250px;
    height: 250px;
}

.gallery img {
    width: 50px;
    height: 50px;
    margin: 0px;
}

.size-product {
    margin-top: 0px;
    padding-right: 5px;
}

.size-product span {
    margin: 0;
    padding-right: 5px
}

.name_product-hot{
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contact-box {
    max-width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 20px;
    border: 2px solid #333;
    text-align: center;
}

.contact-box h2 {
    font-size: 30px;
    color: #333;
    margin: 50px;
}

.contact-box form {
    text-align: left;
}

.contact-box label {
    display: block;
    margin-bottom: 5px;
    margin-left: 70px;
    
}

.contact-box input[type="text"],
.contact-box input[type="email"],
.contact-box textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    
}

.contact-box input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 70px;
    margin-top: 5px;
    margin-bottom: 60px;
}

.contact-box input[type="submit"]:hover {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 70px;
    margin-top: 5px;
    margin-bottom: 60px;
}


footer {

    border-top: 1px solid black;
    background-color: white;
    color: black;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center align items vertically */
}

.map { 
    flex: 1;
    width: 600px;
}

.contact {
    flex: 1;
    margin-left: 150px; 
    text-align: left; 
}


.follow {
    flex: 1;
    display: flex; 
    margin-left: 150px;
    text-align: left; 
    justify-content: space-around;
}

.contact h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.follow h3 {
    margin-top: 10px;
}

.contact p {
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
}

.follow a i{
    width: 20px;
    font-size: 35px;
}

.follow a {
    color: black;
    margin-right: 30px;
    display: inline-block;
}
.map iframe {
    width: 100%;
    height: 150px;
}

.follow a i[class="fa-brands fa-facebook"]:hover {
    color: #3b5998; 
}

.follow a i[class="fa-brands fa-instagram"]:hover {
    color: #e4405f; 
}

.follow a i[class="fa-brands fa-twitter"]:hover {
    color: #1da1f2; 
}
.copyright {
    text-align: center;
    font-size: 14px; 
    color: #777;
    margin-bottom: 10px;
    padding: 0px;
}

/* css login */

.loginForm {
    max-width: 600px;
    height: 390px;
    margin: 100px auto; 
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
}

.loginForm h2 {

    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-element {
    margin-bottom: 20px;
    text-align: center; 
}

.form-element input[type="text"],
.form-element input[type="password"] {
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.form-element input:focus {
    width: 500px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.form-element button[type="submit"] {
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-element button[type="submit"]:hover {
    background-color: black;
    color: #fff;
}

/* css register */
.resignterForm {
    max-width: 600px;
    height: 600px;
    margin: 100px auto; 
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
}

.resignterForm h2 {

    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-element {
    margin-bottom: 20px;
    text-align: center; 
}

.form-element input[type="text"],
.form-element input[type="password"] {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.form-element input:focus {
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.form-element button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-element button[type="submit"]:hover {
    background-color: black;
    color: #fff;
}




.link-element a {
    text-decoration: underline;
    color: black;
    font-size: 15px;
}

.link-element a:hover {
    text-decoration: underline;
    color: var(--primary-color);
    font-size: 15px;
}
.category {
    padding: 100px 0 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden; /
}

.category-right {
    width: 80%;
    float: left;
    display: flex;
}        
.category-right-top-item:first-child{
    font-size: 16px;
    font-weight: bold;   
    flex:2
}
.category-right-top-item{
   flex: 1;
    padding: 0 12px;
}
.category-right-top-item button{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content:space-between;
    background-color:#fff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.category-right-top-item select{
width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content:space-between;
    background-color:#fff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
#category-content {
    text-align: center;
}  
#list-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0;
}

.category-product {
    margin: 0 20px 30px;
    padding: 10px;
    text-align: left; 
    max-width: 300px;
}

.category-product img {
    width: 250px;
    height: 250px;
}

.gallery img {
    width: 50px;
    height: 50px;
    margin: 0px;
}

.size-product {
    margin-top: 0px;
    padding-right: 5px;
}

.size-product span {
    margin: 0;
    padding-right: 5px
}

.name-product-category {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.price{
    font-weight: bold;
    color: #ff5733;
    font-size: 18px;
}
.category-left {
    padding: 10px 0 10px 20px;
    width: 20%;
    float: left; 
    top: 50px; 
}
.category-left ul li{
    padding: 16px;
}
.category-left ul li>a{
    color: black;
    font-size: 25px;
    font-weight: bold;
}
.category-left-li ul{
    display: none;

}
.category-left-li.block ul{
    display: block;
}
.category-left ul li ul li a{
    font-size: 20px;
    font-weight: lighter;
}
.menu-product a{
    font-size: 25px !important;
}
.menu-product {
    margin-bottom: 20px;
}
.category-right-bottom{
    display: flex !important;
    margin: 30px;
    justify-content: center;
}
.category-right-bottom-item button {
    padding: 10px 15px;  
    margin: 10px;
    background-color:#777 ;
    border: none;
}
